/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fffdc3;
    font-size: 4rem;
}

/* Homepage styles */
.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('book-aesthetic-books-old-books-open-books-1387022.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.logo {
    font-size: 10rem;
    margin-top: 20px;
    margin-bottom: 30px;
    animation: fadeInDown 1.5s ease-in-out; 
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(40vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-form {
    margin-bottom: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeInDown 1.5s ease-in-out; 
}

.search-form input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
    background-color: #f5d2a9;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.search-form button:hover {
    background-color: #c1daf5;
    color: rgb(0, 0, 0);
}

.explore-books-btn {
    padding: 15px 30px;
    background-color: #f5d2a9;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    animation: fadeInDown 1.5s ease-in-out; 
}

.explore-books-btn:hover {
    background-color: #accda9;
}

#scrollable-area {
    height:100vh; /* Set a fixed height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px;
}


.book-list {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
}

.book-list h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.book-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.book-list li {
    margin-bottom: 5px;
}

.book-list a {
    text-decoration: none;
    color: #333;
}
/* Recommended Books Section */
.recommended-books {
    height: 100vh;
    background-color: #fefaf0; /* Background color for the section */
    padding: 70px 0;
    text-align: center;
}

.recommended-books h2 {
    font-size: 3rem;
    margin-bottom: 10vh;
}
.book {
    opacity: 0; /* Initially hide books */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

/* Animation for first two books */
.book:nth-child(1),
.book:nth-child(2) {
    animation: slideInLeft 1s ease-in-out forwards; /* Apply slideInLeft animation to the first two books */
}
.book {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Animation for last two books */
.book:nth-child(3),
.book:nth-child(4) {
    animation: slideInRight 1s ease-in-out forwards; /* Apply slideInRight animation to the last two books */
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.book-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.book img {
    width: 35vh; /* Set the width of book images */
    height: 45vh; /* Set the height of book images */
    object-fit: cover; /* Ensure the aspect ratio of the images is maintained */
    border-radius: 20px;
}
.book {
    margin-bottom: 30px;
    width: 200px; /* Set width for each book container */
}



.book-name {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem; /* Reduce font size for book names */
}

.author-name {
    margin-top: 5px;
    font-style: italic;
    font-size: 1rem; /* Reduce font size for author names */
}

/* Hover effect for book names */
.book-name:hover {
    text-decoration: underline;
}

/* Non-Fiction Books Section */
.non-fiction-books {
    height: 100vh;
    background-color: #c4c197;
    padding: 50px 0;
    text-align: center;
    text-decoration: none;
    
}

.non-fiction-books h2 {
    font-size: 3rem;
    margin-bottom: 10vh;
    color: #403f2b;
    animation: fadeInDown 1.5s ease-in-out; 
}

.categories {
    display: flex;
    justify-content: space-around;
    animation: fadeInDown 1.5s ease-in-out; 
}

.category {
    width: 200px;
}

.category img {
    width: 40vh; /* Set the width of book images */
    height: 50vh; /* Set the height of book images */
    object-fit: cover; /* Ensure the aspect ratio of the images is maintained */
    border-radius: 20px;
}
.category-name {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #403f2b;
    text-decoration: none;
}

/* Hover effect for category names */
.category-name:hover {
    text-decoration:none;
}



/* Mission Section */
.mission {
    background-color: #ddddcc;
    padding: 50px 0;
    text-align: center;
    height: 100vh;
}

.mission h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeInDown 1.5s ease-in-out; 
}

.mission-description {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    font-size: 1.8rem;
    margin-left: 15%;
    margin-right: 15%;
    animation: fadeInDown 1.5s ease-in-out; 
}
.mission-image img {
    width: 300px; /* Set the width of the mission image */
    height: auto; /* Maintain aspect ratio */
    animation: fadeInDown 1.5s ease-in-out; 
}
/* Follow Us Section */
.follow-us {
    background-color: #eae59b;
    padding: 20px 0;
    text-align: center;
    height: 100vh;
    color: #403f2b;
}

.follSow-us h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.follow-us h3 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.social-icons {
    margin-top: 30px;
}

.social-icons img {
    width: 35vh; /* Set the width of the social media icons */
    height: 45vh; /* Maintain aspect ratio */
    margin: 0 10px; /* Add spacing between the icons */
    border-radius:30ch;
    box-shadow: 3px 3px 10px 0px #403f2b;
}
